[submodule "backend"]
	path = backend
	url = ./backend/
[submodule "homepage"]
	path = homepage
	url = ./homepage/
[submodule "hitchhikers_guide"]
	path = hitchhikers_guide
	url = ./hitchhikers_guide/
